@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


:root{
    --shimmerBgColor: rgb(237, 237, 237);
}

/* Header */

.header{
    padding: 11px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}
.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.active{
    cursor: pointer;
    font-size: 18px;
    color:red;
    font-weight:400;
    text-decoration: none;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 50px;
}

.nav-items .cart{
    font-size: 22px;
    color: rgb(15, 136, 29);
    text-decoration: none;
    position: relative;
    padding: 5px 8px;
    border-radius: 3px;
    transition: all ease .3s;
}
.nav-items .cart:hover{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.nav-items .cart .item-length{
    position: absolute;
    font-size: 14px;
    font-weight: 900;
    width: 20px;
    border-radius: 50%;
    height: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    top: -10px;
    right: -10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.nav-items ul .icons-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-items ul img{
    width: 20px;
}

.nav-items > ul > .li{
    cursor: pointer;
    font-size: 18px;
    color: rgb(70, 70, 70);
    font-weight:400;
    text-decoration: none;
}
.nav-items > ul > .li:hover, .nav-items img{
    color: #F8771C;
}

/* Body */
/* Cuisines */
.cuisines-container{
    width: 80%;
    margin: 0 auto 20px auto;
    white-space: nowrap;
    overflow-x: hidden;
    padding-bottom: 50px;
    border-bottom: 2px solid rgb(237, 237, 237);
}
/* Cuinses Header */
.cuisines-container .cuisines-header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cuisines-container .cuisines-header h1{
    color: rgb(42, 40, 40);
    font-size: 22px;
}
.cuisines-container .cuisines-header div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cuisines-container .cuisines-header .left-arrow, .cuisines-container .cuisines-header .right-arrow{
    background-color: rgb(220, 220, 220);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: rgb(42, 40, 40);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cuisines-container .cuisines-header .left-arrow:hover, .cuisines-container .cuisines-header .right-arrow:hover{
    background-color: rgb(200, 200, 200);
}
/* Cuisines Body */
.cuisines-container .cuisines-body{
    overflow-x: auto;
    scroll-behavior: smooth;
}
.cuisines-container .cuisines-body::-webkit-scrollbar{
    display: none;
}
.cuisines-container .cuisines-body img{
    width: 130px;
    object-fit: cover;
    margin: 0 15px;
    cursor: pointer;
    transition: all ease .3s;
}
.cuisines-container .cuisines-body img:hover{
    transform: scale(1.05);
}





.restaurant-container{
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.restaurant-card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
    padding: 8px;
    transition: .2s all;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
    
}
.restaurant-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    
}

.restaurant-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 7px 7px 0 0;
}

.restaurant-name{
    font-size: 17px;
    color: rgb(61, 173, 198);
    text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cuisines{
    color: rgb(90, 90, 90);
    font-weight: normal;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.details{
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgb(10, 75, 10);
}
.price{
    font-size: 16px;
    color: purple;
}
.areaName{
    font-size: 14px;
    font-weight: normal;
    color: rgb(90, 90, 90);
}

/* RestaurnatWithLabel */
.res-lable-container{
    position: relative;
}
.label{
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgb(43, 42, 42);
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 7px 0 0 0;
}




/* Title container */
.title{
    width: fit-content;
    margin: auto;
    font-size: 35px;
    border-bottom: 4px solid;
    color: rgb(164, 36, 164);
}

/* search bar */
.search{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.search button{
    padding: 11px 8px;
    cursor: pointer;
    color: white;
    background-color: #ef652f;
    border: 0;
    font-size: 16px;
    border-radius: 3px;
}
.search input{
    outline:none;
    border: 0;
    padding: 10px 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 40%;
    font-weight: 600;
    font-size: 17px;
    color: rgb(86, 6, 86);
}

/* Filter  */
.filter{
    padding: 20px 30px;
    display: flex;
    align-items: center;
     gap: 30px;
}
.filter .top-rated{
    display: flex;
    align-items: center;
    gap: 5px;
}
.filter .top-rated input{
    width: 25px;
    height: 25px;
    user-select: none;
    cursor: pointer;
}
.filter .top-rated label{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: rgb(59, 102, 119);
}



/* Shimmer UI */



.shimmer-res-container{
    width: 100%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.shimmer-card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 250px;
    padding: 8px;
}
.shimmer-img{
    width: 100%;
    height: 200px;
    border-radius: 7px 7px 0 0;
    background-color: var(--shimmerBgColor);

}
.shimmer-res-name{
    width: 100%;
    height: 20px;
    background-color: var(--shimmerBgColor);
    border-radius: 4px;
}
.shimmer-cuisines{
    width: 100%;
    height: 20px;
    background-color: var(--shimmerBgColor);
    border-radius: 4px;  
}
.shimmer-rating, .shimmer-eta{
    width: 70px;
    height: 20px;
    background-color: var(--shimmerBgColor);
    border-radius: 4px; 
}
.shimmer-price{
    width: 90px;
    height: 20px;
    background-color: var(--shimmerBgColor);
    border-radius: 4px; 
}


/* Login Button */
.loginBtn{
    padding: 10px 12px;
    border: 0;
    background-color: rgb(40, 119, 150);
    border-radius: 3px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.loginBtn:hover{
    background-color: rgb(49, 146, 184);

}
.signOut{
    padding: 10px 12px;
    border: 0;
    background-color: rgb(247, 19, 19);
    border-radius: 3px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}


/* Restaurant Menu  */
/* Navigate */
.navigate p > :first-child{
    font-size: 12px;
    color: gray;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
}
.navigate p > :first-child:hover{
    color: rgb(66, 65, 65);
}
.navigate p > :last-child{
    font-size: 13px;
    color: rgb(61, 61, 61);
    font-weight: 600;
}
.res-menu{
    width:100%;
    max-width: 750px;
    margin: auto;
    padding: 30px;
}
.res-menu-details{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* left */
.res-menu-details .left .res-menu-title{
    font-size: 18px;
    font-weight: 600;
    color: rgb(44, 44, 44);
}   
.res-menu-details .left .res-menu-cuisines, .res-menu-details .left .location{
    font-size: 13px;
    color: gray;
}
/* right */
.res-menu-details .right{
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 4px;
}

.res-menu-details .right .res-menu-rating{
    font-size: 17px;
    color: green;
    padding: 3px;
    border-bottom: 1px solid lightgray;
}

.res-menu-details .rating{
    font-size: 12px;
    padding: 5px;
    color: gray;
}
/* Hr */
.res-menu .main-line{
    margin: 50px 0;
    border-top: 1px dotted;
    color: gray;
}

/* restaurant Menu Dish list */

.res-dish-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    cursor: pointer;
    margin: 20px 0;
}
.item-cards{
    border-bottom: 20px solid rgb(235, 235, 235);
}
.item-cards:last-child{
    border-bottom: 0;
}
.res-dish-header h1{
    font-size: 17px;
    color: rgb(77, 72, 72);
}
.res-dish-header i{
    font-size: 25px;
    color: rgb(77, 72, 72);
}

.res-dish-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 50px;
}
/* left */
.res-dish-list .left{
    width: 80%;
}
.res-dish-list .left .dish-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.res-dish-list .left .dish-details .dish-title{
    font-size: 16px;
    font-weight: 800;
    color: rgb(42, 37, 37);
}
.res-dish-list .left .dish-details .dish-price{
    font-size: 15px;
    font-weight: 400;
}
.res-dish-list .left .dish-details .dish-description{
    font-size: 13px;
    font-weight: 300;
    color: gray;
}
.res-dish-list .right{
    width: 15%;
}

.res-dish-list .right .dish-img-container{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.res-dish-list .right img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
}
.res-dish-list .right button{
    position: absolute;
    bottom: -10px;
    padding: 8px;
    border: 0;
    outline: none;
    background-color: white;
    width: 80%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: green;
    cursor: pointer;
}
.res-dish-list .right button:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}
.menu{
    text-decoration: none;
}



/* Veg Non-veg icon */
.veg{
    border: 2px solid #0F8A65;
    height: 12px;
    width: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.veg .circle{
    width: 8px;
    height: 8px;
    background-color: #0F8A65;
    border-radius: 50%;
}
.non-veg{
    border: 2px solid #E43B4F;
    height: 12px;
    width: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.non-veg .circle{
    width: 8px;
    height: 8px;
    background-color: #E43B4F;
    border-radius: 50%;
}

/* Loader */
.loader{
    width: 250px;
}


/* Cateogry Res Container */
.res-category-container{
    margin: 60px auto;
}
.cat-details{
    width: 80%;
    margin: 0 auto 50px auto;
}
.res-category-container h1{
    font-size: 35px;
    color: rgb(50, 48, 48);
    font-weight: 600;
    margin-bottom: 10px;
}
.res-category-container p{
    font-size: 17px;
    color: rgb(84, 84, 84);
}   

.res-category-cards-container{
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.navigate-home{
    width: 80%;
    margin: 20px auto;
}

/* cart-container */

.cart-container{
    background-color:#E9ECEE;
    width: 100%;
    min-height: 95vh;
    padding: 40px 0;
    position: relative;
}
.cart-container .clear-cart{
    position: absolute;
    top: 20px;
    right: 20%;
    border: 0;
    outline: 0;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid black;
    background: transparent;
    overflow: hidden;
}
.cart-container .clear-cart::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease .4s;
}
.cart-container .clear-cart:hover::before{
    bottom: 0;
    border-radius: 0;
}
.cart-container .clear-cart h4{
    position: relative;
    color: rgb(50, 50, 50);
    transition: all ease .4s;
}
.cart-container .clear-cart:hover h4{
    color: white;
}

.cart-container .cart-items-container{
    max-width: 400px;
    width: 100%;
    background-color: white;
    margin:20px auto;
    border-radius: 3px;
    padding: 20px;
}
.cart-container .cart-to-home{
    position: absolute;
    top: 20px;
    left: 20%;
}
.cart-container .cart-items{
    display: flex;
    gap: 30px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgb(210, 210, 210);
    position: relative;
}
.cart-items-container:last-child{
    padding-bottom: 0;
}

.cart-container .cart-item-left{
    width: 20%;
    display: flex;
    align-items: center;
}
.cart-container .cart-item-left img{
    width: 90px;
    height: 100px;
    object-fit: cover;
}
.cart-container .cart-item-right .location{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 2px 0;
}

.cart-container .location p{
    font-size: 14px;
    color: rgb(100, 100, 100);
}
.cart-container .cart-item-title{
    font-size: 17px;
    color: rgb(47, 45, 45);
    font-weight: 500;
}
.cart-container .cart-item-right{
    padding-right:30px;
}
.cart-container .cart-item-right .item-quantity{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}
.cart-container .remove-item{
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(157, 0, 0);
    cursor: pointer;
    padding: 3px 7px;
    transition: all ease .2s;
}
.cart-container .remove-item:hover{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.cart-container .cart-item-right .item-quantity .quantity{
    display: flex;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 1px;
}
.cart-container .cart-item-right .price{
    font-size: 15px;
    font-weight: 500;
    color: rgb(101, 101, 101);
}
.cart-container .decrease, .cart-container .increase{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transition: all ease .3s;
}
.cart-container .decrease:hover, .cart-container .increase:hover{
    background-color: rgb(205, 205, 205);
}
.cart-container .no-of-quantity{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    border-right: 2px solid rgb(205, 205, 205);
    border-left: 2px solid rgb(205, 205, 205);
}

.empty-cart{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    color: rgb(63, 63, 63);
}