@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


:root{
    --shimmerBgColor: rgb(237, 237, 237);
}

/* Header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.logo{
    width: 70px;
    cursor: pointer;
    border-radius: 50%;
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

.nav-items > ul > .li{
    cursor: pointer;
    font-size: 20px;
    color: gray;
    font-weight:600;
    text-decoration: none;
}
.nav-items > ul > .li:hover{
    opacity: 0.5;
}

/* Body */
.restaurant-container{
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.restaurant-card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
    padding: 8px;
    transition: .2s all;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
    
}
.restaurant-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    
}

.restaurant-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 7px 7px 0 0;
}

.restaurant-name{
    font-size: 17px;
    color: rgb(61, 173, 198);
    text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cuisines{
    color: gray;
    font-weight: normal;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.details{
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgb(10, 75, 10);
}
.price{
    font-size: 16px;
    color: purple;
}


/* Title container */
.title{
    width: fit-content;
    margin: auto;
    font-size: 35px;
    border-bottom: 4px solid;
    color: rgb(164, 36, 164);
}

/* search bar */
.search{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.search button{
    padding: 11px 8px;
    cursor: pointer;
    color: white;
    background-color: #ef652f;
    border: 0;
    font-size: 16px;
    border-radius: 3px;
}
.search input{
    outline:none;
    border: 0;
    padding: 10px 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 40%;
    font-weight: 600;
    font-size: 17px;
    color: rgb(86, 6, 86);
}

/* Filter  */
.filter{
    padding: 20px 30px;
    display: flex;
    align-items: center;
     gap: 30px;
}
.filter .top-rated{
    display: flex;
    align-items: center;
    gap: 5px;
}
.filter .top-rated input{
    width: 25px;
    height: 25px;
    user-select: none;
    cursor: pointer;
}
.filter .top-rated label{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: rgb(59, 102, 119);
}



/* Shimmer UI */



.shimmer-res-container{
    width: 100%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.shimmer-card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 250px;
    padding: 8px;
}
.shimmer-img{
    width: 100%;
    height: 200px;
    border-radius: 7px 7px 0 0;
    background-color: var(--shimmerBgColor);

}
.shimmer-res-name{
    width: 100%;
    height: 20px;
    background-color: var(--shimmerBgColor);
    border-radius: 4px;
}
.shimmer-cuisines{
    width: 100%;
    height: 20px;
    background-color: var(--shimmerBgColor);
    border-radius: 4px;  
}
.shimmer-rating, .shimmer-eta{
    width: 70px;
    height: 20px;
    background-color: var(--shimmerBgColor);
    border-radius: 4px; 
}
.shimmer-price{
    width: 90px;
    height: 20px;
    background-color: var(--shimmerBgColor);
    border-radius: 4px; 
}


/* Login Button */
.loginBtn{
    padding: 10px 12px;
    border: 0;
    background-color: rgb(40, 119, 150);
    border-radius: 3px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.loginBtn:hover{
    background-color: rgb(49, 146, 184);

}
.signOut{
    padding: 10px 12px;
    border: 0;
    background-color: rgb(247, 19, 19);
    border-radius: 3px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}


/* Restaurant Menu  */
/* Navigate */
.res-menu .navigate p > :first-child{
    font-size: 12px;
    color: gray;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
}
.res-menu .navigate p > :first-child:hover{
    color: rgb(66, 65, 65);
}
.res-menu .navigate p > :last-child{
    font-size: 13px;
    color: rgb(61, 61, 61);
    font-weight: 600;
}
.res-menu{
    width:100%;
    max-width: 750px;
    margin: auto;
    padding: 30px;
}
.res-menu-details{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* left */
.res-menu-details .left .res-menu-title{
    font-size: 18px;
    font-weight: 600;
    color: rgb(44, 44, 44);
}   
.res-menu-details .left .res-menu-cuisines, .res-menu-details .left .location{
    font-size: 13px;
    color: gray;
}
/* right */
.res-menu-details .right{
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 4px;
}

.res-menu-details .right .res-menu-rating{
    font-size: 17px;
    color: green;
    padding: 3px;
    border-bottom: 1px solid lightgray;
}

.res-menu-details .rating{
    font-size: 12px;
    padding: 5px;
    color: gray;
}
/* Hr */
.res-menu .main-line{
    margin: 50px 0;
    border-top: 1px dotted;
    color: gray;
}

/* restaurant Menu Dish list */
.res-dish-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin: 50px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 50px;
}
/* left */
.res-dish-list .left{
    width: 80%;
}
.res-dish-list .left .dish-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.res-dish-list .left .dish-details .dish-title{
    font-size: 16px;
    font-weight: 800;
    color: rgb(42, 37, 37);
}
.res-dish-list .left .dish-details .dish-price{
    font-size: 15px;
    font-weight: 400;
}
.res-dish-list .left .dish-details .dish-description{
    font-size: 13px;
    font-weight: 300;
    color: gray;
}

.res-dish-list .right .dish-img-container{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.res-dish-list .right img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
}
.res-dish-list .right button{
    position: absolute;
    bottom: -10px;
    padding: 8px;
    border: 0;
    outline: none;
    background-color: white;
    width: 80%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: green;
    cursor: pointer;
}
.res-dish-list .right button:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}
.menu{
    text-decoration: none;
}



/* Veg Non-veg icon */
.veg{
    border: 2px solid #0F8A65;
    height: 12px;
    width: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.veg .circle{
    width: 8px;
    height: 8px;
    background-color: #0F8A65;
    border-radius: 50%;
}
.non-veg{
    border: 2px solid #E43B4F;
    height: 12px;
    width: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.non-veg .circle{
    width: 8px;
    height: 8px;
    background-color: #E43B4F;
    border-radius: 50%;
}

/* Loader */
.loader{
    width: 120px;
}